.item_value {
    margin-left: 5px;
}

.statistics {
    margin-top: 0;
    margin-bottom: 0;
}

.statistic_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.17;
    text-align: start;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    margin-top: 0;
}

.statistics_list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.statistics_item {
    list-style-type: none;
}

.item_text {}

.item_value {
    margin-left: 5px;
}