.counter__section {
    display: block;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.section_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.17;
    text-align: start;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 20px;
}


